* {
    margin: 0;
    padding: 0;
}
.t-button {
    color: white;
    background-color: rgb(55, 142, 250);
   border-color: white;
   border: none; 
   border-radius: 100px;
   width: 20px;
   display:inline-block;
   
}
.p1 {
    font-size: 16px;
    font-weight: bold;
}
.para {
    display: inline-block;
}
.stat {
    text-align: left;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 200px;
}  
.h {
    border: none;
    font-weight:bold;
    font-size: 16px ;
    background-color: white;
    cursor: pointer;
}
.h:hover {
    opacity: 0.5;
}
.ut {
    display: inline-block;
}
.f,.a,.t,.u {
    border: none;
    color: rgb(114, 105, 105);
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}
.f:hover {
    opacity: 0.5;
}
.a:hover {
    opacity:0.5;
}
.t:hover {
    opacity: 0.5;
}
.u:hover {
    opacity: 0.5;
}
.buttons {
    margin-left: 100px;
    margin-top: 10px;
    
}

.as {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p2 {
    font-weight: bold;
    font-size: 50px;
    font-family: Arial;
}
.p3 {
    font-size: 25.2px;
    color: rgb(98, 94, 94);
}
.consult {
    background-color: rgb(55, 142, 250);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.consult:hover {
    opacity: 0.8;
}
.matter {
    text-align: left;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
.profile {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
  }

.matter1 {
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 200px;
margin-right: 200px;
column-gap: 100px;
}
.service {
 font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}
.p4 {
     color: gray;
    text-align: center;
    font-size: 16px;
 }
 .main {
    font-weight: bold;
    font-size: 20px;
 }
 .second {
    font-size: 15px;
    color:gray ;
}
.grid-item {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
 
}
 .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin-top: 100px;
  
}
.learn {
color: rgb(55, 142, 250);
border-radius: 20px;
background-color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-color: rgb(55, 142, 250);
margin-top: 100px;
transition: background-color 0.15s,color 0.1s;
border-style: solid;
cursor: pointer;
}
.learn:hover{
    opacity: 0.6;
}
.bt {
    text-align: center;
}
.img {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
}
.para1 {
font-weight: bold;
font-size: 30px;
}
.para2 {
color: gray;
font-size: 16px;
}
.butt {
color: rgb(55, 142, 250);
border-radius: 20px;
background-color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-color: rgb(55, 142, 250);
margin-top: 10px;
transition: background-color 0.15s,color 0.1s;
border-style: solid;
cursor: pointer;
}
.butt:hover {
    opacity: 0.6
    ;
}
.fun {
display: block;
padding-top: 20px;
padding-left: 100px;
padding-right: 100px;
}
.para3 {
font-weight: bold;
font-size: 40px;
}
.para4 {
color: gray;
font-size: 17px;
}
.fun1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}
.img1{
justify-self: end;
width: 100%; 
height: auto; 
max-width: 100%; 
max-height: 100%; 
}
.grid1 {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
column-gap: 10px;

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    column-gap: 10px;
}
.customer {
font-weight: bold;
font-size: 30px;
text-align: center;
}
.man {
border-radius: 140px;
border-color: white;
border-width: 20px;
display: inline-block;
width: 100px;
margin-right: 20px;
}
.ed {
font-size: 20px;
font-weight: bold;
}
.circle {
font-size: 16px;
}
.ed1 {
display: inline-block;
vertical-align: top;
}
.m{
width: 300px;
justify-self: end;
}
.g {
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 200px;
margin-right: 200px;
}
.g,.gd {
background-color:rgb(80, 119, 250);
border-radius: 20px;
margin-left: 200px;
margin-top: 50px;
margin-right: 200px;
padding-top: 50px;
padding-bottom: 50px;
color: white;
}.e {
display: grid;
font-size: 16px;
color: rgb(55, 142, 250);
text-align: center;
}
.check {
display: grid;
font-weight: bold;
font-size: 30px;
text-align: center;
margin-top: 100px;
}
.line {
        border-bottom: 2px solid;
        width: 2%;
        margin-bottom: 50px;
    }
.h {
display: grid;
place-items: center;
}
.l {
 width: 250px;
}
.d1 {
font-weight: bold;
font-size: 16px;
width: 170px;
}
.de1 {
font-size: 16px;
color:rgb(122, 111, 111);
}
.read {
color: rgb(55, 142, 250);
background-color: white;
border: none;
margin-left: 0;
padding-left: 0;
}
.q1 {
margin-left: 20px;
}
.i1 ,.grid-item{
background-color: white;
width: 250px;
border-radius: 10px;
}
.info ,.grid-info{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
margin-left: 200px;
margin-right: 200px;
row-gap: 20px;
column-gap: 20px;
}
.b {
color: rgb(55, 142, 250);
border-radius: 20px;
border-color: rgb(55, 142, 250);
background-color: white;
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 20px;
transition: background-color 0.15s,color 0.1s;
border-style: solid;
cursor: pointer;

}
.b:hover {
    opacity: 0.6;
}
.b1 {
margin-top: 50px;
text-align: center;
}
.t-button1 {
background-color: white;
color: rgb(55, 142, 250);
border-radius: 40px;
border: none;
display: inline-block;
width: 20px;
}
.pc {
display: inline-block;
}
.Tt {
width:300px;
}
.x {
display: inline-block;
}
.g1 {
font-weight: bold;
cursor: pointer;
}
.g1:hover {
    opacity: 0.5;
}
.y1 {
display: inline-block;

}
.s {
font-size: 16px;
color: rgba(245, 241, 241, 0.949);
margin-right: 20px;
}
.z {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
background-color: rgb(116, 178, 254);
color: white;
margin-top: 50px;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 250px;
padding-right: 100px;
column-gap: 30px;
} 
.it {
    cursor: pointer;
}
.it:hover {
    opacity: 0.6;
}
.c {

width: 1440px;
margin-left: auto;
margin-right: auto;
place-items: center;
}